---
// Qui si importano i componenti necessari di Astro
import Breadcrumb from "@components/Breadcrumb.astro";
import Layout from "@layouts/Layout.astro";

/**
 * Ogni pagina deve avere un titolo, in quanto il componente Layout lo richiede.
 * Siccome lo stesso titolo viene usato per il breadcrumb, è consigliabile
 * mantenere il titolo della pagina in una variabile.
 * In questo modo, se si desidera cambiare il titolo della pagina, è sufficiente
 * modificare il valore della variabile.
 */
const title = "Pagina iniziale";
---

<!-- Layout richiede anche una description, che va a finire nel rispettivo tag <meta> -->
<Layout
  title={title}
  description="Sito web dedicato alla Sostenibilità e alla RSI della Leonardo SpA"
>
  <main>
    <Breadcrumb path={[{ text: title }]} />

    <h1>Benvenuto!</h1>
    <section class="card">
      <p>
        Sul presente sito web potrai consultare i
        <strong>report ESG</strong> pubblicati con cadenza annuale da
        <strong>Leonardo S.p.A.</strong>
      </p>
      <p>
        Leonardo S.p.A. è un'azienda globale,
        <em>quotata alla Borsa Italiana e facente parte dell'indice FTSE MIB</em
        >, ad alta tecnologia, leader nel settore della difesa e della
        sicurezza.
      </p>
      <p>
        Per ulteriori informazioni, visita il nostro
        <a
          href="https://www.leonardo.com/it/home"
          rel="noopener"
          target="_blank">sito ufficiale</a
        >.
      </p>
    </section>
    <p>Per iniziare, accedi alla sezione "Archivio" dall'apposito pulsante.</p>
    <div>
      <a href="archive" class="button">Archivio</a>
    </div>
  </main>
</Layout>
