---
/**
 * Componente Astro per la visualizzazione di un breadcrumb (briciole di pane).
 * Il breadcrumb è una lista di link che rappresenta il percorso di navigazione
 * all'interno del sito, utile per orientare l'utente e migliorare l'usabilità.
 */
interface Props {
  /** Percorso per arrivare alla risorsa */
  path: {
    /** Il nome della pagina mostrato all'utente */
    text: string;

    /** Link alla pagina. E' opzionale perché non va incluso per l'ultima pagina del `path` */
    href?: string;
  }[];
}

const { path } = Astro.props;
---

<ul>
  {
    path.map((data) => (
      <li>{data.href ? <a href={data.href}>{data.text}</a> : data.text}</li>
    ))
  }
</ul>

<style lang="scss">
  ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    flex-wrap: wrap;

    li {
      font-size: 0.8rem;

      /** Aggiunge il simbolo › in modo dinamico per ogni elemento della lista,
      a patto che non sia l'ultimo */
      &:not(:last-child)::after {
        content: "›";
        margin-left: 0.5rem;
      }
    }
  }
</style>
