<footer>
  <p>
    &copy; 2025 Elaborato di Laurea di Francesco Sorge per l'Università
    Telematica Pegaso. Il contenuto di questo sito web è puramente fittizio e
    non è in alcun modo legato a Leonardo S.p.A.
  </p>
</footer>

<style lang="scss">
  footer {
    margin-top: 2rem;
    font-size: 0.8em;
  }
</style>
