---
import leonardoLogo from "@assets/logo.svg";
---

<header>
  <a href="/" title="Vai alla pagina iniziale">
    <img src={leonardoLogo.src} alt="Leonardo SpA" class="logo" />
  </a>
</header>

<style lang="scss">
  header {
    text-align: center;

    img {
      height: 50px;
    }
  }
</style>
