---
import leonardoLogo from "@assets/logo.svg";
---

<header>
  <!-- title serve per mostrare un fumetto quando l'utente mette il cursorse
   sopra all'elemento. Viene anche letto dai software per l'accessibilità per
   indicare all'utente dove il link lo condurrà -->
  <a href="/" title="Vai alla pagina iniziale">
    <img src={leonardoLogo.src} alt="Leonardo SpA" class="logo" />
  </a>
</header>

<style lang="scss">
  header {
    text-align: center;

    img {
      height: 50px;
    }
  }
</style>
